# ==========================================
# TEACHER / ADMIN
# ==========================================

TEACHER_PHONE=your-phone-here
TEACHER_PASSWORD=your-password-here
TEACHER_DISPLAY_NAME=مانی فرزانه

# ==========================================
# NEXTAUTH
# ==========================================

NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000

# ==========================================
# GOOGLE SHEETS
# ==========================================

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account-email-here

GOOGLE_PRIVATE_KEY="your-private-key-here"

GOOGLE_SHEET_ID=your-sheet-id-here