# ==========================================
# TEACHER / ADMIN
# ==========================================

TEACHER_PHONE=09120000000
TEACHER_PASSWORD=choose-a-strong-password
TEACHER_DISPLAY_NAME=مانی فرزانه


# ==========================================
# NEXTAUTH
# ==========================================

NEXTAUTH_SECRET=nuance-piano-academy-secret-2026-9x7k2m4p
NEXTAUTH_URL=http://localhost:3000


# ==========================================
# GOOGLE SHEETS
# ==========================================

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com

GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

GOOGLE_SHEET_ID=1jRQWKTF4rZEF42qyRfYKf4FTMtpBAfMMJaIskR2IbYg